# Scraping Target URL
TARGET_URL=https://shop.axs.com/?c=axs&e=6414022407626854

# Proxy File Location or Single Proxy URI
PROXY_FILE=test_data/iproyal-proxies (1).txt
# SINGLE_PROXY=http://user:password@geo.iproyal.com:12321

# Browser Settings
HEADLESS=True
NAVIGATION_TIMEOUT=60
CHALLENGE_TIMEOUT=35
MAX_RETRIES=3

# Output Paths
SCREENSHOT_DIR=output/screenshots
LOG_DIR=output/logs
